.card {
    display: flex;
    align-items: flex-start; /* Aligner les éléments en haut */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(48, 48, 124) ;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 1);
  }
  
  .title {
    font-size: 18px; /* Font plus grande */
    font-weight: bold; /* Gras */
    margin: 0; /* Supprimer la marge par défaut */
  }
  
  .author {
    margin-top: 5px; /* Espacement entre le titre et l'auteur */
    font-size: 16px; /* Taille de la police pour l'auteur */
    color: #666; /* Couleur de texte plus claire */
  }
  
  .image {
    width: 100px;
    height: 150px;
    margin-left: auto; 
  }